{extends file="admin-layout.tpl"}
{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="check-resource"}admin.selection{/block}
{block name="check-access"}view{/block}

{block name="page-title"}{intl l='Edit Folder'}{/block}
{block name="after-bootstrap-css"}
    {stylesheets source="Selection" file="assets/style/selection-image.css"}
        <link href="{$asset_url}" rel="stylesheet" type="text/css" />
    {/stylesheets}
{/block}

{block name="main-content"}

    {loop name="folder" type="selection_folder" limit="1" visible="*"}
        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/tools'}">{intl l="Tools"}</a></li>
            <li><a href="{url path='/admin/Selection'}">{intl l="Selection folder"}</a></li>
            <li><a href="{url path='/admin/selection-folder/update/%folderId' folderId=$folder_id }">{intl l="Editing"} {$folder_title}</a></li>
        </ul>
        <div class="col-md-12 general-block-decorator">
            <div class="row">
                <div class="col-md-7 title">
                {intl l="Edit folder"} #{$folder_id} : {$folder_title} </div>
                <div class="col-md-5 actions">
                </div>
            </div>
            {if $message != ""}
                <div class="row">
                    <div class="alert-block">
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                {$message}
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="tabbed-menu">
                        <li class="active">
                            <a href="#general" data-toggle="tab" data-trigger="#virtual_field::change">Général</a>
                        </li>
                        <li class="">
                            <a href="#seo" data-toggle="tab" data-trigger="#virtual_field::change">SEO</a>
                        </li>
                        <li class="">
                            <a href="#images" data-toggle="tab" data-trigger="#virtual_field::change">Image</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="general">

                        <div class="form-container">
                            <div class="row">
                                {form name="admin.selection.folder.update"}

                                    <form method="post" action="{url path='/admin/selection-folder/save'}" >
                                        {form_hidden_fields form=$form}
                                        {render_form_field form=$form field="success_url" value="{url path='/admin/selection/update/%folder_id' folder_id = $folder_id}"}

                                        {include
                                        file = "includes/inner-form-toolbar.html"
                                        hide_submit_buttons = true
                                        page_url  = {$pageUrl}
                                        close_url = {$closeUrl}
                                        current_tab = "general"
                                        }

                                        <div class="row">

                                            <div class="col-md-6">
                                                {render_form_field field="folder_id"}
                                                {render_form_field field="folder_title"}
                                                {render_form_field field="folder_chapo"}
                                                {render_form_field field="folder_description" extra_class="wysiwyg"}
                                                {render_form_field field="folder_postscriptum"}
                                            </div>

                                            <div class="col-md-5 col-md-offset-1">
                                                <div class="row">
                                                    {include file='selectionFolderSelectionRelated.html'}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" style="margin: 0;">

                                            <div class="row inner-toolbar">

                                                <div class="col-md-12 inner-actions text-right">
                                                    {form_field form=$form field='save_mode'}
                                                        <button type="{$type}" value="stay" name="{$name}" class="form-submit-button btn btn-sm btn-default btn-success" title="{intl l='Save'}" id="{$label_attr.for}"> {intl l='Save'} <span class="glyphicon glyphicon-ok"></span></button>
                                                    {/form_field}
                                                    <a onclick="location.href='../../Selection'" class="page-close-button btn btn-sm btn-default" id="close">{intl l='Close'}<span class="glyphicon glyphicon-remove"></span></a>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                {/form}

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="seo">

                        {include file="includes/seo-tab.html"
                        formAction  = "{url path='/admin/selection-folder/seo/save/'}"
                        pageUrl     = "{url path='/admin/selection-folder/update/%folder_id' folder_id = $folder_id}"
                        closeUrl    = $close_url
                        current_id  = $folder_id
                        success_url = "{url path='/admin/Selection/update/%folder_id' folder_id = $folder_id}"
                        seoType     = 'selectionFolder'
                        }

                    </div>

                    <div class="tab-pane fade" id="images">
                        <div class="image-manager form-container" >
                            <div class="row">
                                {include file="selectionFolderImageUpdate.html"
                                imageType='selection_folder'
                                parentId=$folder_id
                                }
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    {/loop}

{/block}


{block name="javascript-last-call"}
    {hook name="wysiwyg.js"}
    <script>

        $(function () {
            window.onload = function (){
                $.ajax({
                    url: '{url path="/admin/selection/update/showProduct/"}' + selectionID,
                    type: 'get',
                    dataType : 'html',
                    success: function (data) {
                        $('#tableSelection tr td').remove();

                        $('#selection').html(data);

                    }
                });
            /*--------------------------------  Add values in the selection_content table in the database
             *--------------------------------  related to the current selection when click on add button.
             */
            $('#addSelection').click(function (event) {
                var selectionId = document.getElementById('selection_id').value;
                var folderId ={$folder_id};
                if (selectionId != "") {
                    $.ajax({
                        url: '{url path="/admin/selection-folder/update/addSelectionRelated/"}'+ folderId +'/'+ selectionId,
                        type: 'get',
                        dataType: 'html',
                        success: function (data) {
                            $('#tableContent tr td').remove();

                            $('#content').html(data);

                        }
                    })
                }


            });

        })
    </script>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $(function() {
            $.imageUploadManager.initImageDropZone();
        });
    </script>
{/block}

{block name="javascript-last-call"}
    {hook name="selection.folder.edit-js" location="selection-folder-edit-js" folder_id={$folder_id} }
    {hook name="wysiwyg.js" location="wysiwyg-selection-edit-js" }
{/block}