{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="check-resource"}admin.selection{/block}
{block name="check-access"}view{/block}

{block name="page-title"}{intl l='Selection List'}{/block}

{block name="main-content"}
    <div class="container" id="wrapper">
        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/tools'}">{intl l="Tools"}</a></li>
            <li><a href="{url path='/admin/Selection'}">{intl l="Selection"}</a></li>
        </ul>
        {if $message != ""}
            <div class="row">
                <div class="alert-block">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            {$message}
                        </div>
                    </div>
                </div>
            </div>
        {/if}
        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <caption class="clearfix">
                                {intl l='Selection'}
                                {loop type="auth" name="can_create" role="ADMIN" resource="admin.selection" access="CREATE"}
                                    <span class="pull-right">
                                        <a class="btn btn-primary btn-create-selection" id="showModalCreateSelection" title="{intl l='Add a new Selection'}" href="#creation_dialog" data-toggle="modal">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                    </span>
                                {/loop}
                                <thead>
                                <tr>
                                    <th class="text-center">{intl l='ID'}</th>
                                    <th></th>
                                    <th>{intl l="Title"}</th>
                                    <th>
                                        {admin_sortable_header
                                        current_order=$selection_order
                                        order='manual'
                                        reverse_order='manual_reverse'
                                        path={url path='/admin/Selection' parent=$parent}
                                        request_parameter_name='selection_order'
                                        label="{intl l='Position'}"
                                        }
                                    </th>
                                    <th class="text-center">{intl l='Online'}</th>
                                    <th class="actions text-center">{intl l='Actions'}</th>
                                </tr>
                                </thead>
                                {loop name="selection" type="selection_list" visible="*" backend_context="1" lang=$lang_id order=$selection_order}
                                    <tbody>
                                    <tr>
                                        <td class="text-center">{$SELECTION_ID}</td>
                                        <td>
                                            {loop type="selection_image" name="selection_image" lang="$edit_language_id" source="selection" source_id=$SELECTION_ID width="70" height="50" resize_mode="borders" limit="1" visible="true"}
                                                <img class="img-thumbnail" src="{$IMAGE_URL nofilter}" href="{url path="admin/selection/update/%selectionId" selectionId=$SELECTION_ID}">
                                            {/loop}
                                        </td>
                                        <td>
                                            {loop type="auth" name="can_change" role="ADMIN" resource="admin.selection"}
                                                <a title="{intl l='Change this selection'}" href="{url path="admin/selection/update/%selectionId" selectionId=$SELECTION_ID}">{$SELECTION_TITLE}</a>
                                            {/loop}
                                            {elseloop rel="can_change"}
                                            {$SELECTION_TITLE}
                                            {/elseloop}
                                        </td>
                                        <td>
                                            {admin_position_block
                                            resource="admin.selection"
                                            access="UPDATE"
                                            path={url path='admin/selection/update-position' selection_id=$SELECTION_ID position=$SELECTION_POSITION}
                                            url_parameter="selection_id"
                                            in_place_edit_class="selectionPositionChange"
                                            position=$SELECTION_POSITION
                                            id=$SELECTION_ID
                                            }
                                        </td>
                                        <td class="text-center">
                                            {loop type="auth" name="can_change" role="ADMIN" resource="admin.selection" access="UPDATE"}
                                                <div class="make-switch switch-small selectionVisibleToggle" data-id="{$SELECTION_ID}"  data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                                    <input type="checkbox" class="selectionVisibleToggle" {if $SELECTION_VISIBLE == 1}checked="checked"{/if}>
                                                </div>
                                            {/loop}
                                            {elseloop rel="can_change"}
                                                <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                                    <input type="checkbox" class="disabled" disabled="disabled" {if $SELECTION_VISIBLE == 1}checked="checked"{/if}>
                                                </div>
                                            {/elseloop}
                                        </td>

                                        <td class="actions text-center">
                                            <div class="btn-toolbar btn toolbar-primary">
                                                <span class="glyphicon glyphicon-cog"></span>
                                            </div>
                                            <div class="toolbar-options hidden">
                                                {loop type="auth" name="can_change" role="ADMIN" resource="admin.selection"}
                                                    <a class="selection-change" title="{intl l='Change this selection'}" href="{url path="admin/selection/update/%selectionId" selectionId=$SELECTION_ID}">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                {/loop}
                                                {loop type="auth" name="can_delete" role="ADMIN" resource="admin.selection" access="DELETE"}
                                                    <a class="selection-delete" title="{intl l='Delete this selection'}" href="#selection_delete_dialog" data-id="{$SELECTION_ID}" data-toggle="modal">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                {/loop}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                {/loop}
                            </caption>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modalCreate" role="dialog" aria-hidden="true">
        {form name="admin.selection.create"}
            <form method="post" action="{url path='admin/selection/create'}">
                {form_hidden_fields form=$form}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>{intl l='Create a Selection'}</h3>
                        </div>
                        <div class="modal-body align-center">
                            <div class="js-form-create">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        {render_form_field field="selection_title"}
                                        {form_field form=$form field='selection_chapo'}
                                            <div class="form-group">
                                                <label for="{$label_attr.for}" class="control-label">{intl l="{$label}"}</label>
                                                <div class="control-input">
                                                    <textarea name="{$name}" id="{$label_attr.for}" class="form-control" rows="3">{$summary}</textarea>
                                                </div>
                                            </div>
                                        {/form_field}

                                        {form_field form=$form field='selection_description'}
                                            <div class="form-group">
                                                <label for="{$label_attr.for}" class="control-label">{intl l="{$label}"}</label>
                                                <div class="control-input">
                                                    <textarea name="{$name}" id="{$label_attr.for}" class="form-control wysiwyg" rows="3">{$description}</textarea>
                                                </div>
                                            </div>
                                        {/form_field}

                                        {form_field form=$form field='selection_postscriptum'}
                                            <div class="form-group">

                                                <label for="{$label_attr.for}" class="control-label">{intl l="{$label}"}</label>

                                                <div class="control-input">
                                                    <textarea name="{$name}" id="{$label_attr.for}" value="{$conclusion}" class="form-control" rows="3">{$conclusion}</textarea>
                                                </div>
                                            </div>
                                        {/form_field}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="js-btn-dismiss-modal btn btn-default" data-dismiss="modal">{intl l="Close"}</a>
                            <button type="submit" class="js-modal-btn-save btn btn-success">{intl l="Save"}</button>
                        </div>

                    </div>
                </div>
            </form>
        {/form}
    </div>

    {capture "selection_delete_dialog"}
        <input type="hidden" name="selection_id" id="selection_delete_id" value="" />
        {hook name="selection.delete-form" location="selection_delete_form" }
    {/capture}

    {include    file = "includes/generic-confirm-dialog.html"
                dialog_id       = "selection_delete_dialog"
                dialog_title    = {intl l="Delete selection"}
                dialog_message  = {intl l="Do you really want to delete this selection ?"}
                form_action         = {token_url path='/admin/selection/delete'}
                form_content        = {$smarty.capture.selection_delete_dialog nofilter}
    }

{/block}

{block name="javascript-last-call"}
    {hook name="wysiwyg.js"}

    {javascripts file='assets/js/bootstrap-editable/bootstrap-editable.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $(function () {
            // Set proper folder ID in delete from
            $('a.selection-delete').click(function(ev) {
                $('#selection_delete_id').val($(this).data('id'));
            });


            $('#showModalCreateSelection').on('click',function (event) {
                $("#modalCreate").modal("show");


                if (("#modalCreate").modal("show")) {
                    $('.js-btn-dismiss-modal').on('click', function () {
                        $('#modalCreate').dismiss();
                    })
                }
            });

            $(".selectionVisibleToggle").on('switch-change', function(event, data) {
                $.ajax({
                    url : "{url path='admin/selection/toggle-online'}",
                    data : {
                        selectionId : $(this).data('id'),
                        action : 'visibilityToggle'
                    }
                });
            });

            {* Inline editing of object position using bootstrap-editable *}

            $('.selectionPositionChange').editable({
                type        : 'text',
                title       : '{intl l="Enter new Selection position"}',
                mode        : 'popup',
                inputclass  : 'input-mini',
                placement   : 'left',
                success     : function(response, newValue) {
                    // The URL template
                    var url = "{url noamp=1 path='/admin/selection/update-position' selection_id='__ID__' position='__POS__'}";
                    console.log($(this).data);
                    // Perform subtitutions
                    url = url.replace('__ID__', $(this).data('id'))
                        .replace('__POS__', newValue);
                    console.log(location.href);
                    // Reload the page
                    location.href = url;
                }
            });

        });

    </script>
{/block}