<div class="well well-sm">
    <div class="form-group">
            <p class="title title-without-tabs">{intl l='Selection category'}</p>
            <p>{intl l='You can attach here some category to this selection'}</p>

            <input type="hidden" name="product_id" value="{$product_id}" />
            <input type="hidden" name="current_tab" value="related" />

            <div class="form-group">
                <div class="input-group col-md-12">

                    <select name="category_id" id="category_id" class="form-control">
                            <option value="">{intl l='Select a category...'}</option>
                            {loop name="categories" type="selection_category"}
                            <option value="{$CATEGORY_ID}">{$CATEGORY_TITLE}</option>
                            {/loop}
                    </select>

                   {* <span class="input-group-btn">
                        <a class="js-btn-product-search-category btn btn-info" href="#">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>*}
                </div>

                <span class="help-block">{intl l='Select a category to get its product'}</span>

            </div>

            <div id="product_selector" class="hide">
                <div class="input-group">

                    <select name="product_id" id="product_id" class="form-control">
                        <option value="">{intl l='Select a product...'}</option>
                    </select>

                    <span class="input-group-btn" id="product_add_button">
                        <button class="btn btn-primary action-btn" id="addProduct" type="button">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
{*
                        <a class="js-btn-product-search btn btn-info" href="#">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>*}
                    </span>

                </div>

                <span class="help-block">{intl l='Select a product and click (+) to add it as an accessory'}</span>

            </div>

            <div id="product_selector_empty" class="hide">
                <div class="alert alert-info">
                    {intl l="No available product in this category"}
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped table-condensed table-left-aligned" id="tableProduct">
                    <thead>
                        <tr>
                            <th>{intl l='ID'}</th>

                            <th>{intl l='Product title'}</th>

                            <th class="text-center">{intl l='Position'}</th>

                            <th class="actions">{intl l="Actions"}</th>
                        </tr>

                    </thead>

                    <tbody id="product">

                    </tbody>

                </table>

            </div>

    </div>

</div>


