<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop name="selection_list" class="Selection\Loop\SelectionLoop"/>
        <loop name="selection_container" class="Selection\Loop\SelectionContainerLoop"/>
        <loop name="selection_category" class="Selection\Loop\SelectionLoopCategory"/>
        <loop name="selection_folder" class="Selection\Loop\SelectionLoopFolder"/>
        <loop name="selection_image" class="Selection\Loop\SelectionImage"/>
        <loop name="selection_content_related" class="Selection\Loop\SelectionContentRelated"/>
        <loop name="selection_product_related" class="Selection\Loop\SelectionProductRelated"/>
    </loops>

    <forms>
        <form name="admin_selection_update" class="Selection\Form\SelectionUpdateForm"/>
        <form name="admin_selection_create" class="Selection\Form\SelectionCreateForm"/>
        <form name="admin_selection_seo" class="Thelia\Form\SelectionCreateForm"/>
        <form name="admin_selection_image_modification" class="Selection\Form\SelectionImageModification"/>
        <form name="admin_selection_container_create" class="Selection\Form\SelectionContainerCreateForm"/>
        <form name="admin_selection_container_update" class="Selection\Form\SelectionContainerUpdateForm"/>
        <form name="admin_selection_container_seo" class="Thelia\Form\SelectionCreateForm"/>
        <form name="admin_selection_container_image_modification" class="Selection\Form\SelectioncontainerImageModification"/>
    </forms>

    <services>
        <service id="thelia.file_manager" class="Thelia\Files\FileManager">
            <argument>%file_model.classes%</argument>
        </service>
    </services>

    <hooks>
        <hook id="selection.hook">
        </hook>
        <hook id="Selection.hook.back" class="Selection\Hook\BackHook">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back"/>
        </hook>
    </hooks>
</config>
