<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>Selection\Selection</fullnamespace>
    <descriptive locale="en_US">
        <title>Selection of product and/or content</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Selection de produits et/ou de contenus</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.1.14</version>
    <authors>
        <author>
            <name>Maxime BRUCHET</name>
            <email>mbruchet@openstudio.fr</email>
        </author>
        <author>
            <name>Franck Allimant</name>
            <company>OpenStudio</company>
            <email>fallimant@openstudio.fr</email>
            <website>www.openstudio.fr</website>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.4</thelia>
    <stability>other</stability>
</module>
